[Desktop Entry]
Name=Launcher Fenix
Comment=Play minecraft, for free.
GenericName=Minecraft Server
Exec=java -jar /usr/local/games/launcher_fenix.jar
Icon=com.mojang.Minecraft
# Place the .svg icon in /usr/local/share/icons/hicolor/scalable/apps
Type=Application
StartupNotify=false
Terminal=false
Categories=Game;Server;
Keywords=Minecraft;Server

X-Desktop-File-Install-Version=0.24
