[Desktop Entry]
Type=Application
Name=PowerShell 7
Comment=A powerfull cross-platform shell.
Exec=pwsh
Icon=pwsh
# Place the .svg icon in /usr/local/share/icons/hicolor/scalable/apps
Terminal=true
StartupNotify=true
Categories=shell;
Keywords=shell;cli;console;terminal;
